 /* Import Pangolin font */
 @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
 
 /* Affects bottom right glare */
 .ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%; 
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  
  /* Affects top left glare */
  .ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  
  
  
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
  
  /* variables */
  :root {
  	--text-color: #006494;
    --text-color-2: #E8F1F2;
  } 


 body {
 	/* For some reason, a "j" or "</" appears floating on the left side of the page. 
   This makes it invisible. All visible text needs to be assigned a color later in css */
 	color: transparent;
   
 	font-family: "Pangolin", serif;
  font-size: 15px;
 	background: #1B98E0;

    
  background: 
    /* add waves background image */
    url("https://i.gifer.com/YU7P.gif")
    no-repeat center center fixed;
   
 	background-size: 100% 100%;
   
   display: flex;
   justify-content: center;
   
 }
  
  
    /* offset the stage to left to center for real */
  main {
		margin-left: -40px;
    
  }
  /* center the items inside the .stage
     I have no idea why this works but ok
  */
  .stage {
  	display: grid;
  }

  #title {
  	color: var(--text-color-2);
    font-size: 50px;
    font-weight: 1000;
    margin-left: -210px;
  }
  
  #objective {
  	color: var(--text-color-2);
    text-align: center;
		width: 800px;
    margin-bottom: 10%;
    margin-left: -210px;
  }
  
  .translucent-bg {
  	background-color: rgba(15.70,33.88,50.41,0.5);
    border-radius: 5px;
    padding: 10px; /* add space around text */
  }

  h1 {
  	text-align: center; 
    color: var(--text-color);
    margin-bottom: 10%;
    margin-left: -210px;
  }

  h2 {
  	text-align: center;
  	color: var(--text-color);
    /* move bubble contents downward 
    so they don't overlap top left glare 
    << no longer needed b/c z-index changed >>*/
    /* margin-top: 0%; */
  }
  
 
  label {
  	color: var(--text-color);
  }
  
  .text {
  	border: 2px solid black;
    background: transparent;
    border-radius: 50px;
    border-color: #006494;
    width: 100px;
    height: 30px;
    font-family: "Pangolin", serif;
    text-align: center;
    cursor: text;
  }

  .question {
  	text-align: center;
  	/*border: 5px solid #00649499;*/
    
    /* makes bubbles circular */
    border-radius: 50%;
    height: 300px;
    width: 300px;
    
    /* vertically centers bubble content */
    display: flex;
  	align-items: center;
    
    /* put question text and input on different lines 
    	and also make both of them horizonally centered in bubble */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    /* spacing between bubbles and other containers
       using this to act as the scroll feature to show one question
       at a time */
    margin-bottom: 10%;
    
    padding: 40px;
  }
  
  .question * {
  	/* Elevate bubble contents above the glare 
    	and all the fancy bubble formatting
    	Without this, the bubble styling 
    	prevents user from entering input */
  	z-index: 100
  }

  .results {
  	text-align: center;
    margin: auto;
    margin-top: 0%;
    color: var(--text-color);
    padding-bottom: 50px;

  }
  
  .results-text {
  	color: var(--text-color-2);
    margin-left: -225px;
  }
  
  #results-message, #water-joke {
  	display: none;
  }

  .button {
    border: none;
    color: var(--text-color-2);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: #13293D;
    border-radius: 50px;
    width: 250px;
    font-family: inherit;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-left: -232px;
  }
  .button:hover {
  	background-color: var(--text-color);
    color: white;
  }
  
  #tips-list, #contributors-list {
  	/* align list items left, next to the bullet point */
    text-align: left;
    color: var(--text-color);
    
    font-size: 15px;
  }
  
  /* Makes links the same color as text */
  a {
  	color: var(--text-color);
  }
  
  /* makes the inside of the text inputs blue */
  input[type="text"] {
  	color: var(--text-color);
  }
